<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="BuzzardWPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <userSettings>
    <BuzzardWPF.Properties.Settings>
      <setting name="CacheFileName" serializeAs="String">
        <value>offlinecache.db3</value>
      </setting>
      <setting name="FirstTime" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DMSInstrumentHostName" serializeAs="String">
        <value>PegasaurusRex</value>
      </setting>
      <setting name="NeverLockInstrumentName" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TriggerFileFolder" serializeAs="String">
        <value>\\proto-5\BionetXfer\Run_Complete_Trigger</value>
      </setting>
      <setting name="CopyTriggerFiles" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CalibrationBackupDirectory" serializeAs="String">
        <value>\\proto-5\BionetXfer\Calibration_Backups</value>
      </setting>
      <setting name="TurdAlert" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SettingsUpgradeRequired" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UpgradeWithTestVersion" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsTestVersion" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FilldownCart" serializeAs="String">
        <value />
      </setting>
      <setting name="FilldownCartConfig" serializeAs="String">
        <value />
      </setting>
      <setting name="FilldownColumn" serializeAs="String">
        <value />
      </setting>
      <setting name="FilldownComment" serializeAs="String">
        <value />
      </setting>
      <setting name="FilldownDatasetType" serializeAs="String">
        <value />
      </setting>
      <setting name="FilldownEMSLProposal" serializeAs="String">
        <value />
      </setting>
      <setting name="FilldownEMSLUsageType" serializeAs="String">
        <value />
      </setting>
      <setting name="FilldownEMSLUser" serializeAs="String">
        <value />
      </setting>
      <setting name="FilldownExperimentName" serializeAs="String">
        <value />
      </setting>
      <setting name="FilldownInstrument" serializeAs="String">
        <value />
      </setting>
      <setting name="FilldownInterest" serializeAs="String">
        <value />
      </setting>
      <setting name="FilldownOperator" serializeAs="String">
        <value />
      </setting>
      <setting name="FilldownSeparationType" serializeAs="String">
        <value />
      </setting>
      <setting name="FillDownWorkPackage" serializeAs="String">
        <value />
      </setting>
      <setting name="WatcherCartName" serializeAs="String">
        <value />
      </setting>
      <setting name="WatcherCartConfigName" serializeAs="String">
        <value />
      </setting>
      <setting name="WatcherColumn" serializeAs="String">
        <value />
      </setting>
      <setting name="WatcherComment" serializeAs="String">
        <value />
      </setting>
      <setting name="WatcherDatasetType" serializeAs="String">
        <value />
      </setting>
      <setting name="WatcherEMSLProposalID" serializeAs="String">
        <value />
      </setting>
      <setting name="WatcherEMSLUsageType" serializeAs="String">
        <value />
      </setting>
      <setting name="WatcherEMSLUser" serializeAs="String">
        <value />
      </setting>
      <setting name="WatcherExperimentName" serializeAs="String">
        <value />
      </setting>
      <setting name="WatcherInstrument" serializeAs="String">
        <value />
      </setting>
      <setting name="WatcherOperator" serializeAs="String">
        <value />
      </setting>
      <setting name="WatcherSeparationType" serializeAs="String">
        <value />
      </setting>
      <setting name="WatcherWorkPackage" serializeAs="String">
        <value />
      </setting>
      <setting name="WatcherInterestRating" serializeAs="String">
        <value>Unreviewed</value>
      </setting>
      <setting name="WatcherQCExperimentName" serializeAs="String">
        <value />
      </setting>
      <setting name="WatcherQCMonitors" serializeAs="String">
        <value />
      </setting>
      <setting name="SearchPath" serializeAs="String">
        <value />
      </setting>
      <setting name="SearchDirectoryOptions" serializeAs="String">
        <value>TopDirectoryOnly</value>
      </setting>
      <setting name="SearchExtension" serializeAs="String">
        <value>.raw</value>
      </setting>
      <setting name="SearchMinimumSizeKB" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="Search_MatchFolders" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Searcher_IncludeArchivedItems" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Watcher_WaitTime" serializeAs="String">
        <value>15</value>
      </setting>
      <setting name="WatcherQCCreateTriggerOnDMSFail" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="WatcherCreateTriggerOnDMSFail" serializeAs="String">
        <value>False</value>
      </setting>
    </BuzzardWPF.Properties.Settings>
  </userSettings>
</configuration>
