<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Buzzard.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Buzzard.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Buzzard.Properties.Settings>
            <setting name="InstName" serializeAs="String">
                <value>PegasaurusRex</value>
            </setting>
            <setting name="SeparationType" serializeAs="String">
                <value>LC-ISCO-Standard</value>
            </setting>
            <setting name="CacheFileName" serializeAs="String">
                <value>offlinecache.db3</value>
            </setting>
            <setting name="applicationVersion" serializeAs="String">
                <value>0.0.0.0</value>
            </setting>
            <setting name="Operator" serializeAs="String">
                <value />
            </setting>
            <setting name="FirstTime" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CartName" serializeAs="String">
                <value>No_Cart</value>
            </setting>
            <setting name="WatchDirectory" serializeAs="String">
                <value>m:\data\</value>
            </setting>
            <setting name="SearchType" serializeAs="String">
                <value>AllDirectories</value>
            </setting>
            <setting name="WatchExtension" serializeAs="String">
                <value>.MS</value>
            </setting>
            <setting name="Duration" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="AutoMonitor" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ColumnData" serializeAs="String">
                <value />
            </setting>
        </Buzzard.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Buzzard.Properties.Settings>
            <setting name="PluginFolder" serializeAs="String">
                <value>Plugins</value>
            </setting>
            <setting name="TriggerFileFolder" serializeAs="String">
                <value>c:\my documents</value>
            </setting>
            <setting name="WriteTriggerFiles" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CreateTriggerFiles" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CopyTriggerFiles" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LoggingErrorLevel" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="LoggingMsgLevel" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="DMSVersion" serializeAs="String">
                <value>DMS5</value>
            </setting>
            <setting name="DMSPwd" serializeAs="String">
                <value>Mprptq3v</value>
            </setting>
            <setting name="ErrorPath" serializeAs="String">
                <value>\\proto-5\BionetXfer\LCMSNetErrorReports</value>
            </setting>
            <setting name="TurdAlert" serializeAs="String">
                <value>True</value>
            </setting>
        </Buzzard.Properties.Settings>
    </applicationSettings>
</configuration>